doctype
head
  title= 'WebService'
  meta(charset='utf-8')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='css/style.css')
body
  .container.text
    hr
    ul.nav.nav-pills
      li.text1: a(href='/glavnaya')= 'Главная'

  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        p Выберите столик для оформления заказа. 
    table(align='center' border='6' bordercolor='crimson')
      tr
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
      tr
        td(width='90' height='90')
          
        td(width='90' height='90')

        td(width='90' height='90' id= button_array[0])
          button.btn 1
        td(width='90' height='90')

        td(width='90' height='90' id= button_array[1])
          button.btn 2
        td(width='90' height='90')

        td(width='90' height='90')
          
      tr
        td(width='90' height='90' id= button_array[2])
          button.btn 3
        td(width='90' height='90')

        td(width='90' height='90')

        td(width='90' height='90')

        td(width='90' height='90')

        td(width='90' height='90')

        td(width='90' height='90' id= button_array[3])
          button.btn 4
          
      tr
        td(width='90' height='90')
          
        td(width='90' height='90')

        td(width='90' height='90' id= button_array[4])
          button.btn 5
        td(width='90' height='90')

        td(width='90' height='90' id= button_array[5])
          button.btn 6
        td(width='90' height='90')

        td(width='90' height='90')
          
      tr
        td(width='90' height='90' id= button_array[6])
          button.btn 7
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90' id= button_array[7])
          button.btn 8

      tr
        td(width='90' height='90')
          
        td(width='90' height='90')

        td(width='90' height='90'  id= button_array[8])
          button.btn 9
        td(width='90' height='90')

        td(width='90' height='90'  id= button_array[9])
          button.btn 10
        td(width='90' height='90')

        td(width='90' height='90') 

      tr
        td(width='90' height='90')

        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
          
        td(width='90' height='90')
script(src='js/script.js')