doctype
html
  head
    title WebService
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
body
  .container
    p Нажмите на кнопку с названием категории блюда, которое заказал посетитель
    button#101.kategoria_btn
      p Салаты
      img(src='images/salati.jpg').pic
    button#102.kategoria_btn
      p Гарниры
      img(src='images/garniri.jpg').pic
    button#103.kategoria_btn
      p Мясные блюда
      img(src='images/myasnie-bluda.jpg').pic
    button#104.kategoria_btn
      p Десерты
      img(src='images/deserti.jpg').pic
script(src='js/script.js')